{% load static %}
{% load myfilters %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{page_title}}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	{% include "snippets/styles_baru.html" %}
<!--===============================================================================================-->
</head>
<body>
	{% include "snippets/navbar.html" %}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 row justify-content-center align-items-center">
				<form class="login100-form validate-form" method="POST">
					{% csrf_token %}
					<span class="login100-form-title">
						Masukkan {{page_title}}
					</span>

					<div class="wrap-input100 validate-input">
						<input type="text" name="{{idhtml}}" placeholder="Masukkan Kode Booking" id="{{idhtml}}" class="input100DP">
					</div>


					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">
							Submit
						</button>
					</div>

					<div class="text-center p-t-12">

					</div>

					<div class="text-center p-t-136">
	
					</div>
				</form>
			</div>
		</div>
	</div>
		
<!--===============================================================================================-->	
	{% include "snippets/scripts_baru.html" %}
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>