{% load static %}
{% load myfilters %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Pesan Senjata</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	{% include "snippets/styles_baru.html" %}
<!--===============================================================================================-->
</head>
<body>
	{% include "snippets/navbar.html" %}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 row justify-content-center align-items-center">
				<form class="login100-form validate-form" method="POST">
					{% csrf_token %}
					
					<span class="login100-form-title">
						Pesan Senjata
					</span>

					{# id_penyewaan #}
					<div class="wrap-input100 validate-input">
						<input type="text" name="id_penyewaan" maxlength="50" class="input100DP" placeholder="id penyewaan" required="" id="id_id_penyewaan" value="{{idpenyewaan}}">
					</div>
					{# id_peminjaman #}
					<div class="wrap-input100 validate-input">
						<input type="text" name="id_peminjaman" maxlength="50" class="input100DP" placeholder="id username" required="" id="id_id_peminjaman" value="{{idpeminjam}}">
					</div>
					{# id_senjata #}
					<div class="wrap-input100 validate-input">
						<input type="text" name="id_senjata" maxlength="50" class="input100DP" placeholder="id senjata" required="" id="id_id_senjata" value="{{idsenjata}}">
					</div>
					{# id_karyawan #}
					<div class="wrap-input100 validate-input">
						<input type="text" name="id_karyawan" maxlength="50" class="input100DP" placeholder="id karyawan" required="" id="id_id_karyawan" value="{{user.karyawan.id_karyawan}}">
					</div>
					{# tanggal_pinjam #}
					<div class="wrap-input100 validate-input">
						<input type="text" name="tanggal_pinjam" maxlength="50" class="input100DP" placeholder="tanggal pinjam" required="" id="id_tanggal_pinjam" value="">
					</div>


					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">
							Pesan
						</button>
					</div>

					<div class="text-center p-t-12">

					</div>

					<div class="text-center p-t-136">
	
					</div>
				</form>
			</div>
		</div>
	</div>
		
<!--===============================================================================================-->	
	{% include "snippets/scripts_baru.html" %}
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>



